<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<script type="text/javascript" src="../_js/libs/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="../_js/libs/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../_css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../_css/main.css">
	<title>StMarys Home Page</title>
</head>
<body>
	<header class="header-wrapper">
		<div class="top-container">next mass will happen on 17th january sunday, at st.marys catholic church premises 
			<a class="schedule" href="#">View Mass Schedule</a>
		</div>
		<div class="header-container">
			<div class="logo"><img src="#" alt="logo"></div>
			<nav>
				<ul>
					<li>Home</li>
					<li>Ministry</li>
					<li>Events Calendar</li>
					<li class="donate">Donate</li>
					<li class="search-icon"></li>
				</ul>
			</nav>
		</div>	
	</header>
	<div class="container-fluid">
		<section class="row">
			<div class="hero-container">
				<div class="col-md-12">
					<h1>
						Welcome to Saint Marys Catholic Church
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<a class="button" href="#">Read More</a>
					<div class="pagination">
						<ul>
							<li>.</li>
							<li>.</li>
							<li>.</li>
						</ul>
					</div>
				</div>
			</div>
				<div class="col-md-9">
					<div class="event-column">
						<div class="date">
							<span>19</span>
							Jan'16
						</div>
						<div class="event-info">
							<h4>Women of Prayer and Spirit</h4>
							<p>Tuesday 6:00pm to 7:30pm</p>
							<p>St. Mary's Church Premises</p>
						</div>
						<div class="event-info">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
						</div>
					</div>
					<div class="pagination">
						<ul>
							<li>.</li>
							<li>.</li>
							<li>.</li>
						</ul>
					</div>	
				</div>
				<div class="col-md-3">
					<a class="calendar-column">
						View Event Calendar
					</a>
				</div>	
		</section>
		<section class="row">
			<h5>Highlights</h5>
			<div class="col-md-4">
				<div class="img-block"><img src="#" alt="img"></div>
				<div class="info-block">
					<h5>Retirement Fund for Religeous</h5>
					<p><span>March 4th and 5th 2016</span></p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					</p>		
				</div>
			</div>		
			<div class="col-md-4">
				<div class="img-block"><img src="#" alt="img"></div>
				<div class="info-block">
					<h5>Retirement Fund for Religeous</h5>
					<p><span>March 4th and 5th 2016</span></p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					</p>		
				</div>
			</div>		
			<div class="col-md-4">
				<div class="img-block"><img src="#" alt="img"></div>
				<div class="info-block">
					<h5>Retirement Fund for Religeous</h5>
					<p><span>March 4th and 5th 2016</span></p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					</p>		
				</div>
			</div>		
		</section>	
		<hr>
		<section class="row">
			<h5>Highlights</h5>
			<div class="col-md-4">
				<h5>Retirement Fund for Religeous</h5>
				<p><span>March 4th and 5th 2016</span></p>
				<img src="#" alt="thumbnail">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				</p>		
			</div>		
			<div class="col-md-4">
				<h5>Retirement Fund for Religeous</h5>
				<p><span>March 4th and 5th 2016</span></p>
				<img src="#" alt="thumbnail">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				</p>		
			</div>		
			<div class="col-md-4">
				<h5>Retirement Fund for Religeous</h5>
				<p><span>March 4th and 5th 2016</span></p>
				<img src="#" alt="thumbnail">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				</p>		
			</div>		
		</section>	
		<section class="row">
			<div class="footer-container">
				<div class="col-md-3">
					<h5>Contact</h5>
					<p>
						St. Marys Catholic Church</br>
						17, Pompton Avenue</br>
						Pompton Lakes, NJ 07442</br>
						T:973-835-0374
					</p>
				</div>
				<div class="col-md-3">
					<h5>Quick Links</h5>
					<ul>
						<li>Women's Journey Retreat</li>
						<li>Daily Player for Your mp3 Player</li>
						<li>Daily Prayer for Your Computer</li>
						<li>A Global Online Rosary</li>
						<li>Great Resources for Scripture Study</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Contact</h5>
					<p>
						St. Marys Catholic Church</br>
						17, Pompton Avenue</br>
						Pompton Lakes, NJ 07442</br>
						T:973-835-0374
					</p>
				</div>
				<div class="col-md-3">
					<h5>Share</h5>
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</body>
</html>