<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js"><!--<![endif]-->
<head>
	<title>St.Marys</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<!--[if lte IE 9]>
		<script>
			var tags = 'abbr article aside audio canvas datalist details figure footer header hgroup mark menu meter nav output progress section time video'.split(' ');
			for (var i = 0; i < tags.length; i++) {
				document.createElement(tags[i]);
			}
		</script>
	<![endif]-->
	<script type="text/javascript" src="../_js/libs/jquery-1.11.3.min.js"></script>	
	<script type="text/javascript" src="../_js/libs/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="../_js/libs/jquery.bxslider.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../_css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../_css/jquery.bxslider.css" />
	<link rel="stylesheet" type="text/css" href="../_fonts/font-icon/styles.css">
	<!--[if !(IE 7)]><!--><link rel="stylesheet" type="text/css" href="../_css/main.css"><!--<![endif]-->

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="../_css/ie.css">
	<![endif]-->
</head>
<body>
	<div class="wrapper">
		<div class="row top-info-bar">
			<div class="row-content">
				<div class="col-md-12">
					next mass will happen on 17th january sunday, at st.marys catholic church premises 
					<a href="#">View Mass Schedule</a>
				</div>
			</div>
		</div>
		<header class="row">
			<div class="row-content">
				<a class="col-md-3 logo" href="/"></a>
				<nav class="col-md-9 main-nav">
					<ul>
						<li><a href="#" class="selected">Home</a></li>
						<li class="ministry"><a href="#">Ministry</a></li>
						<li><a href="#">Events Calendar</a></li>
						<li class="donate"><a href="#">Donate</a></li>
						<li class="icon icon-search"></li>
					</ul>
				</nav>
			</div>
			<div class="mobile-nav">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="row ministry-nav">
				<div class="icon icon-cancel"></div>
				<div class="row-content ministry-items">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<ul>
							<li><a data-contentId="ministry-content1" class="selected" href="#">Adult Formation</a></li>
							<li><a data-contentId="ministry-content2" href="#">Music Ministry</a></li>
							<li><a data-contentId="ministry-content3" href="#">Pathways Counseling Center</a></li>
							<li><a data-contentId="ministry-content4" href="#">Social Justice</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<ul>
							<li><a data-contentId="ministry-content5" href="#">Health & Wellness</a></li>
							<li><a data-contentId="ministry-content6" href="#">Parish Life</a></li>
							<li><a data-contentId="ministry-content7" href="#">Sacraments</a></li>
							<li><a data-contentId="ministry-content8" href="#">Youth Ministry</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<ul>
							<li><a data-contentId="ministry-content9" href="#">Hispanic Ministry</a></li>
							<li><a data-contentId="ministry-content10" href="#">Outreach School</a></li>
							<li><a data-contentId="ministry-content11" href="#">School</a></li>
							<li><a data-contentId="ministry-content12" href="#">Special Needs</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<ul class="last-col">
							<li><a data-contentId="ministry-content13" href="#">Liturgy and Worship</a></li>
							<li><a data-contentId="ministry-content14" href="#">Pastoral Care</a></li>
							<li><a data-contentId="ministry-content15" href="#">Religious Education</a></li>
						</ul>
					</div>
				</div>
				<div class="row-content ministry-content" >
					<div class="ministry-content-item active" id="ministry-content1">
						<div class="col-md-5">
							<div class="ministry-thumbnail"><img src="../_images/minis-thumb.png"></div>
						</div>
						<div class="col-md-7">
							<div class="ministry-info">
								<h5>Adult Faith Formation</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							</div>
						</div>				
					</div>
					<div class="ministry-content-item" id="ministry-content2">
						<div class="col-md-5">
							<div class="ministry-thumbnail"><img src="../_images/minis-thumb.png"></div>
						</div>
						<div class="col-md-7">
							<div class="ministry-info">
								<h5>Music Ministry</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							</div>
						</div>				
					</div>
					<div class="ministry-content-item" id="ministry-content3">
						<div class="col-md-5">
							<div class="ministry-thumbnail"><img src="../_images/minis-thumb.png"></div>
						</div>
						<div class="col-md-7">
							<div class="ministry-info">
								<h5>Pathway Counseling Center</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							</div>
						</div>				
					</div>
					<div class="ministry-content-item" id="ministry-content4">
						<div class="col-md-5">
							<div class="ministry-thumbnail"><img src="../_images/minis-thumb.png"></div>
						</div>
						<div class="col-md-7">
							<div class="ministry-info">
								<h5>Social Justice</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							</div>
						</div>				
					</div>
					<div class="ministry-content-item" id="ministry-content5">
						<div class="col-md-5">
							<div class="ministry-thumbnail"><img src="../_images/minis-thumb.png"></div>
						</div>
						<div class="col-md-7">
							<div class="ministry-info">
								<h5>Health & Wellness</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							</div>
						</div>				
					</div>
					<div class="ministry-content-item" id="ministry-content6">
						<div class="col-md-5">
							<div class="ministry-thumbnail"><img src="../_images/minis-thumb.png"></div>
						</div>
						<div class="col-md-7">
							<div class="ministry-info">
								<h5>Parish Life</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							</div>
						</div>				
					</div>
				</div>
			</div>
		</header>
		<div class="container-area">
			<section class="row hero">
				<div class="hero-carousel">
					<div class="bxslider hero-slider">
						<div class="carousel-item">
							<img src="http://lorempixel.com/1280/860/abstract/7/" alt="hero image" />
							<div class="carousel-item-info">
								<h2>
									Welcome to </br> Saint Marys Catholic Church
								</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<a class="button" href="#">Read More</a>
							</div>
						</div>
						<div class="carousel-item">
							<img src="http://lorempixel.com/1280/860/abstract/6/" alt="hero image" />
							<div class="carousel-item-info">
								<h2>
									Welcome to </br> Saint Marys Catholic Church
								</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<a class="button" href="#">Read More</a>
							</div>
						</div>
						<div class="carousel-item">
							<img src="http://lorempixel.com/1280/860/abstract/9/" alt="hero image" />
							<div class="carousel-item-info">
								<h2>
									Welcome to </br> Saint Marys Catholic Church
								</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<a class="button" href="#">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="upcoming-event">
					<div class="row-content event-container">
						<div class="col-md-9">
							<div class="event-column">
								<div class="event-carousel">
									<div class="carousel-item">
										<div class="date">
											<span>19</span>
											Jan '16
										</div>
										<div class="event-venue">
											<h4>Women of Prayer and Spirit</h4>
											<span>Tuesday 6:00pm to 7:30pm</span>
											<span>St. Mary's Church Premises</span>
										</div>
										<div class="event-info">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
										</div>	
									</div>
									<div class="carousel-item">
										<div class="date">
											<span>19</span>
											Jan '16
										</div>
										<div class="event-venue">
											<h4>Women of Prayer and Spirit</h4>
											<span>Tuesday 6:00pm to 7:30pm</span>
											<span class="icon-location">St. Mary's Church Premises</span>
										</div>
										<div class="event-info">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
										</div>	
									</div>
									<div class="carousel-item">
										<div class="date">
											<span>19</span>
											Jan '16
										</div>
										<div class="event-venue">
											<h4>Women of Prayer and Spirit</h4>
											<span>Tuesday 6:00pm to 7:30pm</span>
											<span>St. Mary's Church Premises</span>
										</div>
										<div class="event-info">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
										</div>	
									</div>
								</div>	
							</div>
						</div>
						<div class="col-md-3">
							<a href="#" class="view-calendar">View Event Calendar</a>
						</div>
					</div>
				</div>			
			</section>
			<section class="row news-carousel">
				<div class="row-content">
					<h5 class="title">News & Updates</h5>
					<div class="news-slider">
						<div class="caousel-item">
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formations<span>March 4th and 5th 2016</span></h5>
									<div class="news-thumbnail">
										<img src="../_images/news.png" alt="thumbnail">			
									</div>
									<div class="info-box">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
									</div>
									<a class="button">View More ></a>		
								</div>			
							</div>
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formations<span>March 4th and 5th 2016</span></h5>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<div class="info-box">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
									</div>
									<a class="button">View More ></a>		
								</div>			
							</div>		
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formations<span>March 4th and 5th 2016</span></h5>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<div class="info-box">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
									</div>
									<a class="button">View More ></a>		
								</div>			
							</div>		
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formations<span>March 4th and 5th 2016</span></h5>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<div class="info-box">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
									</div>
									<a class="button">View More ></a>		
								</div>			
							</div>		
						</div>						
						<div class="caousel-item">
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formationssssssss</h5>
									<p><span>March 4th and 5th 2016</span></p>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<p class="info-box">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									</p>
									<a class="button">View More ></a>		
								</div>			
							</div>
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formationssssssss</h5>
									<p><span>March 4th and 5th 2016</span></p>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<p class="info-box">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									</p>
									<a class="button">View More ></a>		
								</div>			
							</div>		
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formationssssssss</h5>
									<p><span>March 4th and 5th 2016</span></p>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<p class="info-box">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									</p>
									<a class="button">View More ></a>		
								</div>			
							</div>		
							<div class="col-md-3 col-sm-6">
								<div class="news-box">
									<h5>Adult Faith Formationssssssss</h5>
									<p><span>March 4th and 5th 2016</span></p>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<p class="info-box">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									</p>
									<a class="button">View More ></a>		
								</div>			
							</div>		
						</div>						
						<div class="caousel-item">
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formationssssssss</h5>
									<p><span>March 4th and 5th 2016</span></p>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<p class="info-box">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									</p>
									<a class="button">View More ></a>		
								</div>			
							</div>
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formationssssssss</h5>
									<p><span>March 4th and 5th 2016</span></p>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<p class="info-box">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									</p>
									<a class="button">View More ></a>		
								</div>			
							</div>		
							<div class="col-md-3">
								<div class="news-box">
									<h5>Adult Faith Formationssssssss</h5>
									<p><span>March 4th and 5th 2016</span></p>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<p class="info-box">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									</p>
									<a class="button">View More ></a>		
								</div>			
							</div>		
							<div class="col-md-3 col-sm-6">
								<div class="news-box">
									<h5>Adult Faith Formationssssssss</h5>
									<p><span>March 4th and 5th 2016</span></p>
									<div class="news-thumbnail">
										<img src="../_images/motor.jpg" alt="thumbnail">			
									</div>
									<p class="info-box">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									</p>
									<a class="button">View More ></a>		
								</div>			
							</div>		
						</div>						
					</div>
				</div>
			</section>
			<section class="row highlights-carousel">
				<div class="row-content">
					<h5 class="title">Highlights</h5>
					<div class="highlight-slider">
						<div class="carousel-item">
							<div class="col-md-4">
								<div class="highlight-box">
									<div class="img-block"><img src="../_images/mac.jpg" alt="img"></div>
									<div class="info-block">
										<h5>Retirement Fund for Religeous</h5>
										<div class="sub"><span>March 4th and 5th 2016</span></div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
										</p>		
									</div>
								</div>
							</div>		
							<div class="col-md-4">
								<div class="highlight-box">
									<div class="img-block"><img src="../_images/mac.jpg" alt="img"></div>
									<div class="info-block">
										<h5>Retirement Fund for Religeous</h5>
										<div class="sub"><span>March 19th and 5th 2016</span></div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
										</p>		
									</div>
								</div>	
							</div>		
							<div class="col-md-4">
								<div class="highlight-box">
									<div class="img-block"><img src="../_images/mac.jpg" alt="img"></div>
									<div class="info-block">
										<h5>Retirement Fund for Religeous</h5>
										<div class="sub"><span>March 4th and 5th 2016</span></div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
										</p>		
									</div>
								</div>
							</div>				
						</div>
						<div class="carousel-item">
							<div class="col-md-4">
								<div class="highlight-box">
									<div class="img-block"><img src="../_images/mac.jpg" alt="img"></div>
									<div class="info-block">
										<h5>Retirement Fund for Religeous</h5>
										<p><span>March 4th and 5th 2016</span></p>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
										</p>		
									</div>
								</div>
							</div>		
							<div class="col-md-4">
								<div class="highlight-box">
									<div class="img-block"><img src="../_images/mac.jpg" alt="img"></div>
									<div class="info-block">
										<h5>Retirement Fund for Religeous</h5>
										<p><span>March 4th and 5th 2016</span></p>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
										</p>		
									</div>
								</div>	
							</div>		
							<div class="col-md-4">
								<div class="highlight-box">
									<div class="img-block"><img src="../_images/mac.jpg" alt="img"></div>
									<div class="info-block">
										<h5>Retirement Fund for Religeous</h5>
										<p><span>March 4th and 5th 2016</span></p>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
										</p>		
									</div>
								</div>
							</div>				
						</div>
					</div>
				</div>	
			</section>
		</div>
		<footer class="row">
			<div class="row-content">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<h6>Contact</h6>
					<p>
						St. Marys Catholic Church</br>
						17, Pompton Avenue</br>
						Pompton Lakes, NJ 07442</br>
						T:973-835-0374
					</p>
				</div>
				<div class="col-md-6 col-sm-4 col-xs-12">
					<h6>Quick Links</h6>
					<div class="row">
						<div class="row-content">
							<div class="col-md-6">
								<ul>
									<li><a href="#">Women's Journey Retreat</a></li>
									<li><a href="#">Daily Player for Your mp3 Player</a></li>
									<li><a href="#">Daily Prayer for Your Computer</a></li>
									<li><a href="#">A Global Online Rosary</a></li>
									<li><a href="#">Great Resources for Scripture Study</a></li>
								</ul>	
							</div>
							<div class="col-md-6">
								<ul>
									<li><a href="#">Women's Journey Retreat</a></li>
									<li><a href="#">Daily Player for Your mp3 Player</a></li>
									<li><a href="#">Daily Prayer for Your Computer</a></li>
									<li><a href="#">A Global Online Rosary</a></li>
									<li><a href="#">Great Resources for Scripture Study</a></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 share">
					<h6>Share</h6>
					<ul>
						<li><a class="icon icon-facebook" href="#"></a></li>
						<li><a class="icon icon-social-twitter" href="#"></a></li>
						<li><a class="icon icon-google-plus" href="#"></a></li>
					</ul>
				</div>
			</div>
		</footer>
		<div class="row bottom-info-bar">
			<div class="row-content">
				<div class="col-md-9">
					Copyrights 2016 St.Mary's Parish | All Rights Reserved
				</div>
				<div class="col-md-3 back-to-top"><a href="#">Back to Top</a></div>
			</div>
		</div>
		<div class="events-calendar">
			<div class="event-heading">
				<h5>upcoming events</h5>
				<div class="icon-cancel"></div>
			</div>				
			<div class="events-container">
				<div class="event-block">
					<div class="date">
						<span>19</span>
						Jan '16
					</div>
					<div class="event-venue">
						<h4>Women of Prayer and Spirit</h4>
						<span>Tuesday 6:00pm to 7:30pm</span>
						<span>St. Mary's Church Premises</span>				
					</div>
					<div class="event-content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </br>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</p>
					</div>			
				</div>
				<div class="event-block">
					<div class="date">
						<span>19</span>
						Jan '16
					</div>
					<div class="event-venue">
						<h4>Women of Prayer and Spirit</h4>
						<span>Tuesday 6:00pm to 7:30pm</span>
						<span>St. Mary's Church Premises</span>				
					</div>
					<div class="event-content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </br>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</p>
					</div>			
				</div>
				<div class="event-block">
					<div class="date">
						<span>19</span>
						Jan '16
					</div>
					<div class="event-venue">
						<h4>Women of Prayer and Spirit</h4>
						<span>Tuesday 6:00pm to 7:30pm</span>
						<span>St. Mary's Church Premises</span>				
					</div>
					<div class="event-content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</p>
					</div>			
				</div>
				<div class="event-block">
					<div class="date">
						<span>19</span>
						Jan '16
					</div>
					<div class="event-venue">
						<h4>Women of Prayer and Spirit</h4>
						<span>Tuesday 6:00pm to 7:30pm</span>
						<span>St. Mary's Church Premises</span>				
					</div>
					<div class="event-content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</p>
					</div>			
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../_js/main.js"></script>
</body>
</html>